<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.nachoconnect.chmod-bpf</string>
    <key>Program</key>
    <string>/Library/Application Support/NachoConnect/chmod-bpf.sh</string>
    <key>RunAtLoad</key>
    <true/>
    <key>StandardErrorPath</key>
    <string>/var/log/nachoconnect-chmod-bpf.log</string>
    <key>StandardOutPath</key>
    <string>/var/log/nachoconnect-chmod-bpf.log</string>
</dict>
</plist>
